[run]
omit =
    venv/*
    */python?.?/*
    */site-packages/nose/*
    manage.py
    run.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    venv/*
    */python?.?/*
    */site-packages/nose/*
    tests/*
    manage.py
    run.py